.locationResult {
    position: absolute;
    width: var(--maxLocResultWidth);
    height: 100vh;
    background-color: white;
    z-index: 4;
    transition: width 0.5s ease-in-out;
    box-shadow: var(--commonBoxShadow);
}

.locationResultClosed {
    position: absolute;
    width: 0;
    height: 100vh;
    background-color: white;
    z-index: 4;
    transition: width 0.5s ease-in-out;
}

#closeButton {
    position: absolute;
    top: 5px;
    right: 5px;
    border-radius: 8px;
    width: 25px;
    height: 25px;
}

#closeButton:hover {
    background-color: #ea6060;
    border-color: #da4444;
}

#closeButton:active {
    background-color: #c04444;
}

#locationData {
    position: absolute;
    width: fit-content;
    right: 0px;
    width: var(--maxLocResultWidth);
    padding-right: 0px;
    z-index: 3;
    word-wrap: break-word;
}

#locationData h3 {
    margin: 0px;
    margin-top: 5px;
    padding: 0px;
    font-size: 24px;
    font-family: "Lexend Deca", sans-serif;
    font-variation-settings: "wght" 500;
}

.locationResText {
    margin: 0px;
    padding: 0px;
    font-size: 16px;
    font-family: "Lexend Deca", sans-serif;
    font-variation-settings: "wght" 400;
}

#locationResLinkedText {
    display : flex;
    flex-direction: column;
    align-items: center;
    height: 40vh;
}

#locationResLinkedText a {
    text-decoration: none;
    text-decoration: underline;
    font-size: 16px;
    color : blue;
    font-family: "Lexend Deca", sans-serif;
    font-variation-settings: "wght" 400;
}

#locationResLinkedText a:visited{
    color : purple;
}

#locationResLinkedText a:hover {
    color : red;
}


#locResButtons {
    position: absolute;
    width: fit-content;
    right: 0px;
    width: var(--maxLocResultWidth);
    padding-right: 0px;
    bottom: 50px;
    z-index: 2;
}

.adminButtons {
    display: flex;
    gap: var(--gapSize);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 2;
  }

.adminButtons button {
    min-width: 100px;
}

#locImgRes {
    margin-top: 35px;
    max-width: 95%;
    object-fit: cover;
    object-position: center;
    border-radius: 20px;
}