:root {
    --maxWidth: 340px;
    --closedWidth: 30px;
    --showNavBarWidthOpen: var(--maxWidth)+var(--closedWidth);
    --searchResultsHeight: 60vh;
}

.locationResult {
    position: absolute;
    width: var(--maxWidth);
    height: 100vh;
    background-color: white;
    z-index: 4;
    transition: width 0.5s ease-in-out;
}

.locationResultClosed {
    position: absolute;
    width: 0;
    height: 100vh;
    background-color: white;
    z-index: 4;
    transition: width 0.5s ease-in-out;
}

.closeButton {
    position: absolute;
    right: 0;
}

.results {
    position: absolute;
    width: fit-content;
    right: 0;
    width: var(--maxWidth);
    padding-right: 0px;
    z-index: 3;
    word-wrap: break-word;
}

.adminButtons {
    position: absolute;
    right: 25%;
    bottom: 50px;
    z-index: 3;
  }
  
  .adminButtons button {
    cursor: pointer;
    min-width: 125px;
  }