
.sideNavBar {
  position: absolute;
  width: var(--sideNavBarWidth);
  height: 100vh;
  background-color: white;
  z-index: 2;
  transition: width 0.5s ease-in-out;
  box-shadow: var(--commonBoxShadow);
}

.sideNavBarClosed {
  position: absolute;
  width: 0;
  height: 100vh;
  background-color: white;
  z-index: 2;
  transition: width 0.5s ease-in-out;
  box-shadow: var(--commonBoxShadow);
}

.logged-in {
  position: absolute;
  width: fit-content;
  right: 0;
  width: var(--sideNavBarWidth);
  padding-right: 0px;
  z-index: 2;
}

.logged-inElements button {
  cursor: pointer;
  min-width: 125px;
}

.logged-inElements {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gapSize);
}

.logged-inElements p{
  margin: 0px;
  margin-top: 10px;
  padding: 0px;
}

.showSideNavBar {
  position: absolute;
  cursor: pointer;
  left: var(--sideNavBarWidth);
  top: 25vh;
  width: var(--showNavBarWidthOpen);
  height: 30px;
  background: transparent;
  z-index: 3;
  transition: left 0.5s ease-in-out;
}

.showSideNavBarClosed {
  position: absolute;
  cursor: pointer;
  left: 0vw;
  width: var(--showNavBarWidthClosed);
  top: 25vh;
  height: 30px;
  background: transparent;
  z-index: 3;
  transition: left 0.5s ease-in-out;
}

#openTab{
  opacity: 1;
  -webkit-user-drag: none;
}

.otherButtons{
  position: absolute;
  width: fit-content;
  right: 0;
  width: var(--sideNavBarWidth);
  padding-right: 0px;
  bottom: 50px;
  z-index: 2;
}

.otherButtonsElements {
  display: flex;
  gap: var(--gapSize);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.otherButtons button {
  cursor: pointer;
  min-width: 125px;
}