.searchResults {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  height: fit-content;
  border-top: #aaa 1px solid;
  border-bottom: #aaa 1px solid;
  padding-bottom: 5px;
}

.searchResults::-webkit-scrollbar {
  width: 10px;
}

.searchResults::-webkit-scrollbar-thumb {
  background-color: #bbb;
  border-radius: 5px;
}

.searchResults::-webkit-scrollbar-track {
  background-color: #ddd;
}

.searchResult {
  border: #aaa 1px solid;
  cursor: pointer;
  border-radius: 5px;
  padding: 5px;
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
}

.searchResults p,
.searchResults h3 {
  line-height: 1;
  font-size: 12px;
}