:root {
  --sideNavBarWidth: 300px;
  --showNavBarWidthClosed: 30px;
  --showNavBarWidthOpen: var(--sideNavBarWidth)+var(--showNavBarWidthClosed);
  --searchResultsHeight: 60vh;
}

.sideNavBar {
  position: absolute;
  width: var(--sideNavBarWidth);
  height: 100vh;
  background-color: white;
  z-index: 2;
  transition: width 0.5s ease-in-out;
  box-shadow: 0 1px 2px rgba(60,64,67,0.3), 0 2px 6px 2px rgba(60,64,67,0.15);
}

.sideNavBarClosed {
  position: absolute;
  width: 0;
  height: 100vh;
  background-color: white;
  z-index: 2;
  transition: width 0.5s ease-in-out;
  box-shadow: 0 1px 2px rgba(60,64,67,0.3), 0 2px 6px 2px rgba(60,64,67,0.15);
}

.logged-in {
  position: absolute;
  width: fit-content;
  right: 0;
  width: var(--sideNavBarWidth);
  padding-right: 0px;
  z-index: 2;
}

.logged-inElements button {
  cursor: pointer;
  min-width: 125px;
}

.logged-inElements {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.searchBar{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.searchResults{
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  height: var(--searchResultsHeight);
}
.searchResults p, .searchResults h3{
  line-height: 1;
  font-size: small;
}

.showSideNavBar {
  position: absolute;
  left: var(--sideNavBarWidth);
  top: 25vh;
  width: var(--showNavBarWidthOpen);
  height: 30px;
  background: transparent;
  z-index: 3;
  transition: left 0.5s ease-in-out;
}

.showSideNavBarClosed {
  position: absolute;
  left: 0vw;
  width: var(--showNavBarWidthClosed);
  top: 25vh;
  height: 30px;
  background: transparent;
  z-index: 3;
  transition: left 0.5s ease-in-out;
}

#openTab{
  opacity: 1;
}

.otherButtons {
  position: absolute;
  right: 25%;
  bottom: 50px;
  z-index: 2;
}

.otherButtons button {
  cursor: pointer;
  min-width: 125px;
}