:root {
  --sideNavBarWidth: 300px;
  --showNavBarWidthClosed: 30px;
  --showNavBarWidthOpen: var(--sideNavBarWidth)+var(--showNavBarWidthClosed);
  --searchHeight: 60vh;
  --gapSize: 5px;
}

.sideNavBar {
  position: absolute;
  width: var(--sideNavBarWidth);
  height: 100vh;
  background-color: white;
  z-index: 2;
  transition: width 0.5s ease-in-out;
  box-shadow: 0 1px 2px rgba(60,64,67,0.3), 0 2px 6px 2px rgba(60,64,67,0.15);
}

.sideNavBarClosed {
  position: absolute;
  width: 0;
  height: 100vh;
  background-color: white;
  z-index: 2;
  transition: width 0.5s ease-in-out;
  box-shadow: 0 1px 2px rgba(60,64,67,0.3), 0 2px 6px 2px rgba(60,64,67,0.15);
}

.logged-in {
  position: absolute;
  width: fit-content;
  right: 0;
  width: var(--sideNavBarWidth);
  padding-right: 0px;
  z-index: 2;
}

.logged-inElements button {
  cursor: pointer;
  min-width: 125px;
}

.logged-inElements {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gapSize);
}

.searchBar{
  padding-top: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gapSize);
  height: var(--searchHeight);
}
.searchResults{
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  height: fit-content;
  border-top: #aaa 1px solid;
  border-bottom: #aaa 1px solid;
  padding-bottom: 5px;
}

.searchResult{
  border: #aaa 1px solid;
  border-radius: 5px;
  padding: 5px;
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
}

.searchResults p, .searchResults h3{
  line-height: 1;
  font-size: 12px;
}

.showSideNavBar {
  position: absolute;
  left: var(--sideNavBarWidth);
  top: 25vh;
  width: var(--showNavBarWidthOpen);
  height: 30px;
  background: transparent;
  z-index: 3;
  transition: left 0.5s ease-in-out;
}

.showSideNavBarClosed {
  position: absolute;
  left: 0vw;
  width: var(--showNavBarWidthClosed);
  top: 25vh;
  height: 30px;
  background: transparent;
  z-index: 3;
  transition: left 0.5s ease-in-out;
}

.navButton{
  height: 30px;
  text-align: center;
  font-size: 14px;
  font-family: "Lexend Deca", sans-serif;
  font-variation-settings: "wght" 500;
  color: black;
  background: #dadada;
  border: 2px solid #aaa;
  border-radius: 12px;
  cursor: pointer;
  transition: background 0.2s ease, color 0.2s ease, border-color 0.2s ease;
}

.navButton:hover{
  background: #add8e6;
  border-color: #8db8c6;
}

.navButton:active{
  background: #7da8b6;
}

.directionsBar {
  padding: 12px 20px;
  font-size: 14px;
  font-family: "Lexend Deca", sans-serif;
  border: 2px solid #ddd;
  border-radius: 6px;
  text-align: left;
  outline: transparent;
  width: 150px;
  height: 5px;
  transition: border-color 0.2s ease;
}


.directionsBar:hover{
  border-color: #aaa;
}

.directionsBar:focus{
  border-color: blue;
}


#openTab{
  opacity: 1;
  -webkit-user-drag: none;
}

.otherButtons{
  position: absolute;
  width: fit-content;
  right: 0;
  width: var(--sideNavBarWidth);
  padding-right: 0px;
  bottom: 50px;
  z-index: 2;
}

.otherButtonsElements {
  display: flex;
  gap: var(--gapSize);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.otherButtons button {
  cursor: pointer;
  min-width: 125px;
}